<form method="POST" autocomplete="off" >
  <table
    class="textCenter textBig"
    style="width: 80%; margin: auto;"
  >
    {{#each inputs}}
    <tr>
      <td
      >
        <select
          name="inputs[{{@index}}][ranking]"
          tabindex="-1"
        >
          {{#each @root.positions}}
            <option value="{{this}}" {{#eq this ../ranking}} selected{{/eq}}>{{this}}</option>
          {{/each}}
        </select>
      </td>
      <td
      >
        <input
          name="inputs[{{@index}}][player]"
          placeholder="PLAYER NAME"
          value="{{player}}"
          list="playerList"
        />
        <datalist id="playerList">
          {{#each ../players}}
          <option value="{{this}}" />
          {{/each}}
        </datalist>
      </td>
    </tr>
    {{/each}}
    <tr>
      <td>
      </td>
      <td
        style="padding: 32px 0px"
      >
        <input
          type="password"
          name="password"
          placeholder="PASSWORD"
          autocomplete="new-password"
        />
      </td>
    </tr>
  </table>
  <br/>

  <div class="textCenter">
    <button type="submit">
      SAVE
    </button>
  </div>
</form>