<span class="textHuge">{{player}}</span>
<br/>
<span class="textBig">Rating: {{rating}}</span>
<br/>
<span class="textBig">Games: {{total}}</span>
<br/>
<br/>

<table class="textCenter textBig">
  <tr>
    <td class="textBig">Victories</td>
    <td class="textBig">ELO Results</td>
    <td class="textBig">Defeats</td>
  </tr>
  <tr>
    <td>
      <table class="">
      {{#each victories }}
        <tr>
          <td><a href="/players/{{opponent}}">{{ opponent }}</a></td>
          <td><span>{{ ratio }}</span></td>
          <td><span class="textSmall">{{ count }}</span></td>
        </tr>
      {{/each}}
      </table>
    </td>
    <td>
      <table class="">
      {{#each results }}
        <tr>
          <td><a href="/players/{{opponent}}">{{ opponent }}</a></td>
          <td><span>{{ value }}</span></td>
        </tr>
      {{/each}}
      </table>
    </td>
    <td>
      <table class="">
      {{#each defeats }}
        <tr>
          <td><a href="/players/{{opponent}}">{{ opponent }}</a></td>
          <td><span>{{ ratio }}</span></td>
          <td><span class="textSmall">{{ count }}</span></td>
        </tr>
      {{/each}}
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td class="textBig">+ Streaks</td>
    <td class="textBig">Last</td>
    <td class="textBig">- Streaks</td>
  </tr>
  <tr>
    <td>
      <table class="">
      {{#each win_streaks }}
        <tr>
          <td><a href="/players/{{opponent}}">{{ opponent }}</a></td>
          <td><span>{{ count }}</span></td>
        </tr>
      {{/each}}
      </table>
    </td>
    <td>
      <table class="">
      {{#each hours }}
        <tr>
          <td><a href="/players/{{opponent}}">{{ opponent }}</a></td>
          <td><span>{{ count }}h</span></td>
        </tr>
      {{/each}}
      </table>
    </td>
    <td>
      <table class="">
      {{#each loss_streaks }}
        <tr>
          <td><a href="/players/{{opponent}}">{{ opponent }}</a></td>
          <td><span>{{ count }}</span></td>
        </tr>
      {{/each}}
      </table>
    </td>
  </tr>
</table>
