<span class="textHuge">{{player}}</span>
<span class="textBig">{{rating}}</span>
<br/>
<br/>

<table class="textCenter textBig">
  <tr>
    <td class="textBig">Victories</td>
    <td class="textBig">Ties</td>
    <td class="textBig">Defeats</td>
  </tr>
  <tr>
    <td>
<table class="">
{{#each victories }}
  <tr>
    <td><span>{{ player }}</span></td>
    <td><span>{{ count }}</span></td>
  </tr>
{{/each}}
</table>
    </td>
    <td>
<table class="">
{{#each ties }}
  <tr>
    <td><span>{{ player }}</span></td>
    <td><span>{{ count }}</span></td>
  </tr>
{{/each}}
</table>
    </td>
    <td>

<table class="">
{{#each defeats }}
  <tr>
    <td><span>{{ player }}</span></td>
    <td><span>{{ count }}</span></td>
  </tr>
{{/each}}
</table>
    </td>
  </tr>
</table>
