<span class="textHuge">{{player}}</span>
<br/>
<span class="textBig">Rating: {{rating}}</span>
<br/>
<span class="textBig">Games: {{total}}</span>
<br/>
<br/>

<table class="textCenter textBig">
  <tr>
    <td></a></td>
    <td><span>RATIO</span></td>
    <td><span>ELO</span></td>
    <td><span>WON</span></td>
    <td><span>LOST</span></td>
    <td><span>LAST</span></td>
  </tr>
{{#each results }}
  <tr>
    <td><a href="/players/{{opponent}}">{{ opponent }}</a></td>
    <td>
      <span>{{ ratio }}</span>
      <span class="textSmall">({{ total }})</span>
    </td>
    <td><span>{{ elo }}</span></td>
    <td>
      <span>{{ victories }}</span>
      <span class="textSmall">+{{ winStreak }}</span>
    </td>
    <td>
      <span>{{ defeats }}</span>
      <span class="textSmall">-{{ lossStreak }}</span>
    </td>
    <td><span class="textSmall">{{ hours }}H</span></td>
  </tr>
{{/each}}
</table>
</table>
